<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JK</display-name>
    <servlet-name>JK</servlet-name>
    <servlet-class>JK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JK</servlet-name>
    <url-pattern>/JK</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>controller.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmp</display-name>
    <servlet-name>AddEmp</servlet-name>
    <servlet-class>controller.AddEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmp</servlet-name>
    <url-pattern>/AddEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveEmp</display-name>
    <servlet-name>RemoveEmp</servlet-name>
    <servlet-class>controller.RemoveEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEmp</servlet-name>
    <url-pattern>/RemoveEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDept</display-name>
    <servlet-name>AddDept</servlet-name>
    <servlet-class>controller.AddDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDept</servlet-name>
    <url-pattern>/AddDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeptEmp</display-name>
    <servlet-name>AddDeptEmp</servlet-name>
    <servlet-class>controller.AddDeptEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeptEmp</servlet-name>
    <url-pattern>/AddDeptEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>controller.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Leave</display-name>
    <servlet-name>Leave</servlet-name>
    <servlet-class>controller.Leave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Leave</servlet-name>
    <url-pattern>/Leave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInfo</display-name>
    <servlet-name>EditInfo</servlet-name>
    <servlet-class>controller.EditInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInfo</servlet-name>
    <url-pattern>/EditInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetDept</display-name>
    <servlet-name>SetDept</servlet-name>
    <servlet-class>controller.SetDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetDept</servlet-name>
    <url-pattern>/SetDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>controller.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
</web-app>